BasedOnStyle: LLVM

# ---- Line length -------------------------
ColumnLimit: 80

# ---- Indentation -------------------------
IndentWidth: 4
TabWidth: 4
UseTab: Always
AccessModifierOffset: -4
IndentPPDirectives: None
SortIncludes: false

# ---- Braces ------------------------------
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterControlStatement: true
  AfterStruct: true
  AfterEnum: true
  AfterUnion: true
  BeforeElse: true

# ---- Control structures ------------------
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None

# ---- Parentheses & spacing ---------------
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

# ---- Function calls & declarations -------
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align

# ---- Pointers & references ---------------
PointerAlignment: Right
ReferenceAlignment: Right
SpaceAfterCStyleCast: false

# ---- Alignment ---------------------------
AlignOperands: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

# ---- Includes ----------------------------
SortIncludes: false

# ---- Comments ----------------------------
ReflowComments: false

# ---- Misc --------------------------------
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
InsertNewlineAtEOF: true
