*.out
*.o
*.d
build
CPP00/ex00/megaphone
CPP00/ex01/phonebook
CPP00/ex02/account
CPP01/ex00/ex00
CPP01/ex01/horde
CPP01/ex02/brain
CPP01/ex03/violence
CPP01/ex04/replace
CPP01/ex04/*.replace
CPP01/ex05/harl
CPP01/ex06/harlFilter
CPP02/ex00/fixed
CPP02/ex01/fixed
CPP02/ex02/fixed
CPP02/ex03/bsp
CPP03/ex00/claptrap
CPP03/ex01/scavtrap
CPP03/ex02/fragtrap
CPP03/ex03/diamond
CPP04/ex00/polymorphism
CPP04/ex01/brain
CPP04/ex02/abstract
CPP04/ex03/materia
CPP05/ex00/bureaucrat
CPP05/ex01/form
CPP05/ex02/form
CPP05/ex02/*_shrubbery
CPP05/ex03/intern
CPP05/ex03/*_shrubbery
